* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    width: 100%;
    height: auto;
}

/* section three */
#s3 {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.image {
    width: 20%;
    height: 400px;
    position: relative;
}
.img_img {
    width: 100%;
    height: 400px;
    border-radius: 1rem;
} 
.image_overlap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.25s;
    transform: translateY(10px);
    border-radius: 1rem;
}
.image:hover .image_overlap {
    opacity: 1;
    cursor: pointer;
    transform: translateY(0px);
}

/* section four */
#s4 {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
#s4 hr {
    width: 30%;
    height: 5px;
    background-color: rgb(180, 118, 231);
    border-color: none;

}
#s4 h1 {
    width: 50%;
    font-weight: 300;
    color: white;
    text-shadow: -1px -1px 0 black , -1px 1px 0 black, 1px -1px 0 black ,1px 1px 0 black ;
    letter-spacing: 3px;
    font-family: sans-serif;
    text-align: center;
    transform: scale(2,4);
}
#s4 button {
    width: 10%;
    height: 2.2rem;
    border-radius: 2rem;
    color: brown;
    /* border-color: brown; */
    border: none;
    background-color: white;
    transition: all 1s;
    overflow: hidden;
    font-size: 15px;
}
#s4 button:hover{
    background-color:rgba(5, 168, 233, 0.659);
    color: white;
    border: none;
    width: 15%;
    font-size: 15px;
}
#s4 p {
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* section five */
#s5 {
    width: 100%;
    height: 38vh;
    position: relative;
}
#s5 img {
    width: 100%;
    height: 38vh;
    position: absolute;
}
#s5 article {
    width: 100%;
    height: 38vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.719);
}
#s5 aside {
    width: 100%;
    padding-top: 1rem;
    padding-left: 9rem;
}
#s5 h1 {
    width: 100%;
    color: goldenrod;
    font-size: 80px;
    font-weight: 1000;
}
#s5 h2 {
    width: 100%;
    color: white;
    font-size: 50px;
}
#s5 hr {
    width: 20%;
    height: 3px;
    background-color: goldenrod;
    border-color: goldenrod;
}
#s5 p {
    width: 100%;
    font-size: 20px;
    color: white;
    padding-top: .7rem;
}
#s5 h3 {
    width: 100%;
    font-size: 30px;
    color: goldenrod;
    letter-spacing: 1px;    
}
